@use 'partials-scss/banniere';
@use 'partials-scss/boutons';
@use 'partials-scss/cartes';
@use 'partials-scss/footer';
@use 'partials-scss/header';
@use 'partials-scss/hero';
@use 'partials-scss/menu';
@use 'partials-scss/mixins';
@use 'partials-scss/page-nouvelle';
@use 'partials-scss/variables';
@use 'partials-scss/page-services';
@use 'partials-scss/delimiteurs-sections';
@use 'partials-scss/listes';
@use "sass:color";



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&display=swap');

h1, .h1{
    font-family: "Jockey One", sans-serif;
    font-size: 64px;
    text-transform: capitalize;
    color:variables.$primary;
}

h2, .h2{
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color:variables.$noir;
}

h3, .h3{
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color:variables.$blanc;
}

p, .p{
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
   text-transform: capitalize;
   color:variables.$noir;
}

.infos-add{
    font-family: "Jockey One", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color:variables.$primary;
}

.texte-banniere{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color:variables.$blanc;
}

body{
    margin: 0;
}

.content{
    margin: 0 20px;
}







.donations-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    p{
        text-transform: uppercase;
        color: variables.$primary;
        
        padding-left: 10px;
        padding-right: 10px;
        background-color: variables.$secondary;

        
    }
}

.donationici{
    background-color: variables.$primary;
    color: variables.$blanc;
    border: none;
    margin-bottom: 40px;
    
    width: 500px;
    
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.donationici:hover{
    background: color.adjust(variables.$primary, $lightness: 20%); 
}
    
//}

@media screen and (min-width: 834px) {
    .donations-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        p{
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1440px) {

    .donations-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        p{
            display: flex;
            justify-content: center;

            font-size: 64px;
        }
    }
}