@use 'variables';

.banniere{
    width: 100%;
    height: 20px;
    background-color: variables.$primary;
    text-align: center;
}

@media screen and (min-width: 834px) and (max-width:1439px) {
    
}

@media screen and (min-width: 1440px) {
    
}