@use 'variables';

nouvelles-card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;

    .nouvelle-card{
        width: 100%;
        background: rgb(250,118,89);
        background: linear-gradient(180deg, rgba(250,118,89,1) 30%, rgba(255,255,255,1) 100%); 
        img{
            width: 100%;
            border-bottom: black solid 1px;
        }

        p{
            text-transform: uppercase;
        }
        
    }
   
}

/*.nouvelle-card{
    
    

    .image-nouvelle--1{
        
        height: 100px;
        width: 160px;
    }
}*/

@media screen and (min-width: 834px) and (max-width:1439px) {
    
}

@media screen and (min-width: 1440px) {
    
}