@use 'variables';

.footer-container{
    background-color: variables.$primary;
    color: variables.$blanc;

    .footer-first{
        color: variables.$blanc;
    
        p{
            font-family: "Inter", sans-serif;
            font-size: 16px;
            color:variables.$blanc;
        }
        .donation{
            background-color: variables.$primary;
            border-color: variables.$blanc;
            color: variables.$blanc;
            font-family: "Jockey One", sans-serif;
            font-size: 24px;
            text-transform: capitalize;
        }
    }

    .footer-primary{
        .donation{
            background-color: variables.$primary;
            color: variables.$blanc;
        
            border-color: variables.$blanc;
            border-style: solid;
            }
    }

    .footer-secondary{
        display:flex;
        flex-wrap: wrap;
    }

    .copyright{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        color:variables.$blanc;
        text-align: center;
    }
}

@media screen and (min-width: 834px) and (max-width:1439px) {
    
}

@media screen and (min-width: 1440px) {
    
}