@use 'variables';

.footer-container{
    background-color: variables.$primary;
    color: variables.$blanc;

    .footer-first{
        color: variables.$blanc;
    
        p{
            font-family: "Inter";
            font-size: 12px;
            color:variables.$blanc;
            margin: 10px;
        }
        .donation{
            background-color: variables.$primary;
            border-color: variables.$blanc;
            color: variables.$blanc;
            font-family: "Jockey One", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            border-style: solid;
            border-width: 1px;
            padding: 10px;
            margin: 10px;
        }
    }

    .footer-primary{
        .donation{
            background-color: variables.$primary;
            color: variables.$blanc;
        
            border-color: variables.$blanc;
            border-style: solid;
            }
    }

    .footer-secondary{
        display:flex;
        flex-wrap: wrap;
        img{
            width: 20%;
            height: 20%;
            margin-left: 15px;
            margin-right: 5px;
            margin-top: 10px;
        }
    }

    .copyright{
        font-family: "Inter", sans-serif;
        font-size: 12px;
        color:variables.$blanc;
        text-align: center;
        font-family: "Jockey One", sans-serif;
        text-transform: uppercase;

    }
}

@media screen and (min-width: 834px) and (max-width:1439px) {

.footer-container{
    .footer-first{
        p{
            background-color: variables.$primary;
            border-color: variables.$blanc;
            color: variables.$blanc;
            font-family: "Jockey One", sans-serif;
            font-size: 25px;
            text-transform: capitalize;
            font-weight: bold;
            
        }
    }

    .footer-secondary{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        img{
            width: 10%;
            height: 10%;
            margin-left: 15px;
            margin-right: 5px;
            margin-top: 10px;
        }
    }
}
}

@media screen and (min-width: 1440px) {
    .footer-container{

        .footer-first{
            p{
                background-color: variables.$primary;
                border-color: variables.$blanc;
                color: variables.$blanc;
                font-family: "Jockey One", sans-serif;
                font-size: 20px;
                text-transform: capitalize;
                
                text-align:start; 
                margin-left: 20px;

                
            }
        }

        .footer-secondary{
            display: flex;
            justify-content: center;
            margin-left: 30px;
            margin-right: 30px;
            img{
                width: 10%;
                
                
            }
        }
    }
}