@use 'variables';


.main-header{
    background-color: variables.$blanc;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "logo donnez langue"
    "hotdog searchbar searchbar";


    .logo{
        margin-bottom: none;
        grid-area: logo;
    }

    .logo--full{
        grid-area: full-logo;
        display: none;
    }

    .donation{
      background-color: variables.$primary;
      color: variables.$blanc;
      font-family: "Jockey One", sans-serif;
      font-size: 24px;
      text-transform: capitalize;
      border-style: none;

      grid-area: donnez;
      /*padding-right: 30px;
      padding-left: 30px;
      margin-top: 30px;*/
      
    }

    .bouton-langue{
        border: none;
        font-family: "Jockey One", sans-serif;
        font-size: 35px;
        text-transform: capitalize;
        background-color: variables.$blanc;
        color:variables.$noir;

        grid-area: langue;
        /*margin-top: 20px;*/
    }
    
}

.search{
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    border-style: none;
}

.full-header{
    background-color: variables.$blanc;
}

.main-navbar{
    background-color: variables.$primary;
    color: variables.$blanc;
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    

    .menu-title{
        margin: 10px;
    }
}

.container-searchbar{
    grid-area: searchbar;
}

.hotdog{
    grid-area: hotdog;
}

.header-row-2{
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 834px) and (max-width:1439px) {
    .full-header{

        .main-header{
            background-color: variables.$blanc;
            grid-template-areas: 
    "logo donnez searchbar langue";

            .donation{
                margin: none;
                padding-left: 30px;
                padding-right: 30px;
            }

            .bouton-langue{
                border: none;
                font-family: "Jockey One", sans-serif;
                font-size: 25px;
                text-transform: capitalize;
                background-color: variables.$blanc;
                color:variables.$noir;
                /*margin-top: 20px;*/
            }
        }

        .main-navbar{
            background-color: variables.$blanc;
            color: variables.$noir;
            font-family: "Jockey One", sans-serif;
            font-size: 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 5px;
        }
    }

    .hotdog{
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .full-header{

        .main-header{
            background-color: variables.$blanc;
            grid-template-areas: 
    "full-logo donnez searchbar searchbar langue";
            
            .donation{
                margin: none;
                padding-left: 30px;
                padding-right: 30px;
            }

            .bouton-langue{
                border: none;
                font-family: "Jockey One", sans-serif;
                font-size: 25px;
                text-transform: capitalize;
                background-color: variables.$blanc;
                color:variables.$noir;
                /*margin-top: 20px;*/
            }

            .logo{
                display: none;
            }
        
            .logo--full{
                display: block;
            }
        }

        .main-navbar{
            background-color: variables.$blanc;
            color: variables.$noir;
            font-family: "Jockey One", sans-serif;
            font-size: 24px;
           
            
            
        }

    }

    .hotdog{
        display: none;
    }

    
}
  