.logo{
    background-image: url(/sources/medias/image/logo_small.png);
}

.main-header{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 834px) and (max-width:1439px) {
    
}

@media screen and (min-width: 1440px) {
    
}
  