/*

!.gitignore


!wp-content/
!wp-content/*
!wp-content/*/*
!wp-content/*/*/*
!wp-content/*/*/*/*
!wp-content/*/*/*/*/*
!wp-content/*/*/*/*/*/*
!wp-content/*/*/*/*/*/*/*
!wp-content/*/*/*/*/*/*/*/*
!wp-content/*/*/*/*/*/*/*/*/*
wp-content/themes/page_statique/style.css
wp-content/themes/page_statique/style.css.map
wp-content/plugins
