/*
wordpress/*

!.gitignore

!wordpress/
!wordpress/wp-content/
!wordpress/wp-content/*
!wordpress/wp-content/*/*
!wordpress/wp-content/*/*/*
!wordpress/wp-content/*/*/*/*
!wordpress/wp-content/*/*/*/*/*
!wordpress/wp-content/*/*/*/*/*/*
!wordpress/wp-content/*/*/*/*/*/*/*
!wordpress/wp-content/*/*/*/*/*/*/*/*
!wordpress/wp-content/*/*/*/*/*/*/*/*/*