@use 'partials-scss/banniere';
@use 'partials-scss/boutons';
@use 'partials-scss/cartes';
@use 'partials-scss/footer';
@use 'partials-scss/header';
@use 'partials-scss/hero';
@use 'partials-scss/menu';
@use 'partials-scss/mixins';
@use 'partials-scss/page-nouvelle';
@use 'partials-scss/variables';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&display=swap');

h1{
    font-family: "Jockey One", sans-serif;
    font-size: 64px;
    text-transform: capitalize;
    color:variables.$primary;
}

h2{
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color:variables.$noir;
}

h3{
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color:variables.$blanc;
}

p{
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    color:variables.$noir;
}

.infos-add{
    font-family: "Jockey One", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color:variables.$primary;
}

.texte-banniere{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color:variables.$blanc;
}


//HEADER

.main-header{
    background-color: variables.$blanc;

    .donation{
      background-color: variables.$primary;
      color: variables.$blanc;
      font-family: "Jockey One", sans-serif;
      font-size: 24px;
      text-transform: capitalize;
    }
}

.main-navbar{
    background-color: variables.$primary;
    color: variables.$blanc;
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
}

//MAIN

.nouvelles-title{
    background-color: variables.$secondary;
}

.nouvelles-card-container{
    display: flex;
}

//FOOTER
.footer-container{
    background-color: variables.$primary;
    color: variables.$blanc;
    .footer-primary{
        .donation{
            background-color: variables.$primary;
            color: variables.$blanc;
        
            border-color: variables.$blanc;
            border-style: solid;
            }
    }
}