@use 'partials-scss/banniere';
@use 'partials-scss/boutons';
@use 'partials-scss/cartes';
@use 'partials-scss/footer';
@use 'partials-scss/header';
@use 'partials-scss/hero';
@use 'partials-scss/menu';
@use 'partials-scss/mixins';
@use 'partials-scss/page-nouvelle';
@use 'partials-scss/variables';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&display=swap');

h1, .h1{
    font-family: "Jockey One", sans-serif;
    font-size: 64px;
    text-transform: capitalize;
    color:variables.$primary;
}

h2, .h2{
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color:variables.$noir;
}

h3, .h3{
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color:variables.$blanc;
}

p, .p{
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
   text-transform: capitalize;
   color:variables.$noir;
}

.infos-add{
    font-family: "Jockey One", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color:variables.$primary;
}

.texte-banniere{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color:variables.$blanc;
}

body{
    margin: 0;
}

/*.main{
    margin: 0 15px;
}*/

//HEADER


.slogan-principale{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
}

//MAIN

.divider{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__losange{
        width: 30px;
    }

    &__line{
        background-color: variables.$primary;
        height: 6px;
        width: 100%;
    }

    
}

.nouvelles-title{
    background-color: variables.$secondary;
    text-decoration: underline;

    margin-left: 20px;
}

.nouvelles-card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;

    .nouvelle-card{
        width: 100%:
        img{
            width: 100%;
        }
    }
   
}

//FOOTER


//stuff que j'ai fais puis qu je vais deplacer ailleurs :3
.slideshow-container{
    display: flex;

    img{
        background-size: cover;
        border-style: solid;
        border-color: variables.$noir;
    }
    a{
       margin: none;
        align-self: center;
    }
}

.nos-luttes-title{
    background-color: variables.$secondary;
    text-decoration: underline;

    margin-left: 20px;
}

.nos-luttes-list{
    display: flex;
    flex-direction: column;

    gap: 10px;

    button{
    text-align: left;
    font-family: "Jockey One", sans-serif;
    font-size: 30px;

    background: rgb(250,118,89);
    background: linear-gradient(90deg, rgba(250,118,89,1) 0%, rgba(255,255,255,0) 29%);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    }
}

.temoignages-title{
    background-color: variables.$secondary;
    text-decoration: underline;

    margin-left: 20px;
}


.card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    img{
        width: 250px;
        border-radius: 50%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }
    
    .container{
        h4{

            font-family: "Jockey One", sans-serif;
            font-size: 30px;
            text-transform: uppercase;
            background: rgb(250,118,89);
            background: linear-gradient(121deg, rgba(250,118,89,1) 0%, rgba(252,160,140,1) 61%, rgba(255,255,255,1) 100%); 
        }
        p{
            text-transform: uppercase;
        }
    }
}

.donations-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    p{
        text-transform: uppercase;
        color: variables.$primary;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: variables.$secondary;
    }
}

.donationici{
    background-color: variables.$primary;
    color: variables.$blanc;
    border: none;
    margin-bottom: 40px;
    
    
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
    text-transform: uppercase;

    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.footer-first{
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    justify-content: flex-start
}

.info-container{
    
}

.container-social-media{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;



    img{
        display: block;
        width: 100px;
    }

    .facebook{
        margin-left: auto;
        margin-right: none;
    }

    .twitter{
        margin-left: auto;
        margin-right: none;
    }

    .instagram{
        margin-left: none;
        margin-right: auto;
    }
    
}

@media screen and (min-width: 834px) and (max-width:1439px) {

    

    .card{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;

        img{
            width: 250px;
            border-radius: 50%;
            border-style: solid;
            border-color: black;
            border-width: 1px;
        }

        .container{
            h4{
    
                font-family: "Jockey One", sans-serif;
                font-size: 30px;
                text-transform: uppercase;
            }
            p{
                text-transform: uppercase;
                margin-left: 50px;
            }
        }
    }

    .donations-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        p{
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1440px) {

    .container-temoignage{
        display: flex;
        flex-direction: row;
    }

    .card{
        display:flex;
        flex-direction: row;
        flex-wrap:nowrap;
        text-align: center;
        margin-bottom: 30px;

        img{
            width: 200px;
            border-radius: 50%;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            height: 200px;

            margin-left: 20px;
        }

        .container{
            h4{
    
                font-family: "Jockey One", sans-serif;
                font-size: 30px;
                text-transform: uppercase;
                margin-left: 20px;
            }
            p{
                text-transform: uppercase;
                margin-left: 50px;
            }
        
    }

 }

 .donations-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    p{
        display: flex;
        justify-content: center;
    }
}

.nos-luttes-list{
    display: flex;
    flex-direction: column;

    gap: 10px;

    button{
    text-align: left;
    font-family: "Jockey One", sans-serif;
    font-size: 30px;

    background: rgb(250,118,89);
    background: linear-gradient(170deg, #fa7659 0%, rgba(255,255,255,0) 50%);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    }
}

.footer-first{
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
}