@use 'partials-scss/banniere';
@use 'partials-scss/boutons';
@use 'partials-scss/cartes';
@use 'partials-scss/footer';
@use 'partials-scss/header';
@use 'partials-scss/hero';
@use 'partials-scss/menu';
@use 'partials-scss/mixins';
@use 'partials-scss/page-nouvelle';
@use 'partials-scss/variables';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&display=swap');

h1, .h1{
    font-family: "Jockey One", sans-serif;
    font-size: 64px;
    text-transform: capitalize;
    color:variables.$primary;
}

h2, .h2{
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color:variables.$noir;
}

h3, .h3{
    font-family: "Jockey One", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color:variables.$blanc;
}

p, .p{
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    color:variables.$noir;
}

.infos-add{
    font-family: "Jockey One", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color:variables.$primary;
}

.texte-banniere{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color:variables.$blanc;
}

//HEADER


//MAIN

.nouvelles-title{
    background-color: variables.$secondary;
}

.nouvelles-card-container{
    display: flex;
}

//FOOTER


//stuff que j'ai fais puis qu je vais deplacer ailleurs :3

.nos-luttes-title{
    background-color: variables.$secondary;
    text-decoration: underline;
}

.nos-luttes-list{
    display: flex;
    flex-direction: column;

    gap: 10px;

    button{
    text-align: left;
    font-family: "Jockey One", sans-serif;
    font-size: 30px;
    }
}

.temoignages-title{
    background-color: variables.$secondary;
    text-decoration: underline;
}


.card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    img{
        width: 250px;
        border-radius: 50%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }
    
    .container{
        h4{

            font-family: "Jockey One", sans-serif;
            font-size: 30px;
            text-transform: uppercase;
        }
        p{
            text-transform: uppercase;
        }
    }
}

.donations-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    p{
        text-transform: uppercase;
        color: variables.$primary;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: variables.$secondary;
    }
}

.donationici{
    background-color: variables.$primary;
    color: variables.$blanc;
    border: none;
    margin-bottom: 40px;
    
    
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
    text-transform: uppercase;

    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}