@use 'variables';

.nouvelles-cards{
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;*/

    &__card{
        width: 100%;
        background: rgb(250,118,89);
        background: linear-gradient(180deg, rgba(250,118,89,1) 30%, rgba(255,255,255,1) 100%); 
        margin: 10px 0;
        img{
            width: 100%;
            border-bottom: black solid 1px;
        }

        p{
            text-transform: uppercase;
        }
        
    }
   
}

/*.nouvelle-card{
    
    

    .image-nouvelle--1{
        
        height: 100px;
        width: 160px;
    }
}*/

@media screen and (min-width: 834px) {

    .nouvelles-cards{
        &__card{
            display: flex;
            justify-content: center;
            img{
                width: 50%;
            }

            .container{
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .nouvelles-cards{
        display: flex;
        justify-content: space-around;
        &__card{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 25%;
            margin: 0;
            img{
                width: 100%;
            }

            .container{
                width: 100%;
            }
        }
    }
}