@use 'variables';
@use "sass:color";

.footer{
    background-color: variables.$primary;
    color: variables.$blanc;

    &__first{
        color: variables.$blanc;

        //
        display: flex;
        flex-direction: row;
        flex-basis: 0;
        justify-content: center;
        align-items: center;
    
        //social media
        .container-social-media{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        img{
            display: block;
            width: 100px;
        }
    
        .facebook{
            margin-left: auto;
            margin-right: none;
        }
    
        .twitter{
            margin-left: auto;
            margin-right: none;
        }
    
        .instagram{
            margin-left: none;
            margin-right: auto;
        }
        }

        p{
            font-family: "Inter";
            font-size: 12px;
            color:variables.$blanc;
            margin: 10px;
        }
        .donation{
            background-color: variables.$primary;
            border-color: variables.$blanc;
            color: variables.$blanc;
            font-family: "Jockey One", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            border-style: solid;
            border-width: 1px;
            padding: 10px;
            margin: 10px;
        }
        //
        .donation:hover{
            background: color.adjust(variables.$primary, $lightness: 20%); 
        }
    }


    &__secondary{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        img{
            width: 20%;
            height: 20%;
            margin-left: 15px;
            margin-right: 5px;
            margin-top: 10px;
        }
    }

    .copyright{
        font-family: "Inter", sans-serif;
        font-size: 12px;
        color:variables.$blanc;
        text-align: center;
        font-family: "Jockey One", sans-serif;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.divider__line--white{
    background-color: variables.$blanc;
    height: 6px;
    width: 100%;
}

@media screen and (min-width: 834px) and (max-width:1439px) {

.footer{
    &__first{
        display: flex;
        flex-direction: row;
        flex-basis: 0;
        justify-content: center;
        align-items: center;
        p{
            background-color: variables.$primary;
            border-color: variables.$blanc;
            color: variables.$blanc;
            font-family: "Jockey One", sans-serif;
            font-size: 25px;
            text-transform: capitalize;
            font-weight: bold;
            
        }
    }

    &__secondary{
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        
        img{
            width: 10%;
            height: 10%;
            margin-left: 15px;
            margin-right: 5px;
            margin-top: 10px;
        }
    }
}
}

@media screen and (min-width: 1440px) {
    .footer{

        &__first{
            display: flex;
            flex-direction: row-reverse;
            flex-basis: 0;
            justify-content: center;
            align-items: center;
            gap: 30px;
            p{
                background-color: variables.$primary;
                border-color: variables.$blanc;
                color: variables.$blanc;
                font-family: "Jockey One", sans-serif;
                font-size: 20px;
                text-transform: capitalize;
                
                text-align:start; 
                margin-left: 20px;

                
            }
        }

        &__secondary{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;

            margin-left: 30px;
            margin-right: 30px;
            img{
                width: 10%;
                
                
            }
        }
    }
}