@use 'variables';
@use "sass:color";

.header{
    background-color: variables.$blanc;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "logo donnez langue"
    "hotdog searchbar searchbar";


    &__logo{
        margin-bottom: none;
        grid-area: logo;
    }

    &__logo--full{
        grid-area: full-logo;
        display: none;
    }

    &__donation{
      background-color: variables.$primary;
      color: variables.$blanc;
      font-family: "Jockey One", sans-serif;
      font-size: 24px;
      text-transform: capitalize;
      border-style: none;

      grid-area: donnez;
    }

    &__donation:hover{
        background: color.adjust(variables.$primary, $lightness: 20%);
    }

    &__bouton-langue{
        border: none;
        font-family: "Jockey One", sans-serif;
        font-size: 35px;
        text-transform: capitalize;
        background-color: variables.$blanc;
        color:variables.$noir;

        grid-area: langue;
    }

    .hotdog{
        &__toggle{
            grid-area: hotdog;
            width: 50px;
        }
        
        &__retour{
            grid-area: hotdog;
            width: 50px;
        }
    }
    
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: searchbar;

    &__search{
        background-color: rgb(221, 221, 221);
        border-radius: 20px;
        border-style: none;
        width: 60%;
        height: 30px;
    }

    &__loupe{

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
        border-style: none;
        background-color: white;
    
        &__image{
            width: 20px;
        }
    }
}

.main-navbar{
    background-color: variables.$primary;
    color: variables.$blanc;
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
    /*display: flex;
    justify-content: space-around;*/
    margin: 5px;

    border-radius: 15px;
    

    .menu-title{
        margin: 10px;
        color: variables.$blanc;
        text-decoration: none;
    }
}



.nav-menu{
    grid-template-columns: auto auto auto;
}

.container-liens-menu{
    display: flex;
    justify-content: center;
}



.divider.divider-header{
    display: none;
}



.display-none{
    display: none;
}

.display-grid{
    display: grid;
}

.display-block{
    display: inline;
}

@media screen and (min-width: 834px) {
    

        .header{
            background-color: variables.$blanc;
            grid-template-areas: 
    "logo donnez searchbar langue";

            &__donation{
                margin: none;
                padding-left: 30px;
                padding-right: 30px;
            }

            &__bouton-langue{
                border: none;
                font-family: "Jockey One", sans-serif;
                font-size: 25px;
                text-transform: capitalize;
                background-color: variables.$blanc;
                color:variables.$noir;
                /*margin-top: 20px;*/
            }

            .hotdog{
                &__toggle{
                    display: none;
                }
                &__retour{
                    display: none;
                }
            }
        }

        .main-navbar{
            background-color: variables.$blanc;
            color: variables.$noir;
            font-family: "Jockey One", sans-serif;
            font-size: 24px;
            /*display: flex;
            flex-wrap: wrap;
            justify-content: space-around;*/
            margin: 5px;

            .menu-title{
                margin: 10px;
                color: variables.$noir;
                text-decoration: none;
            }
        }


    

    

    .nav-menu{
        display: grid;
    }
    
    .divider.divider-header{
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    

        .header{
            background-color: variables.$blanc;
            grid-template-areas: 
    "full-logo donnez searchbar searchbar langue";
            
            &__logo{
                display: none;
            }

            &__logo--full{
                display: block;
            }
    
            &__donation{
                margin: none;
                padding-left: 30px;
                padding-right: 30px;
            }

            &__bouton-langue{
                border: none;
                font-family: "Jockey One", sans-serif;
                font-size: 25px;
                text-transform: capitalize;
                background-color: variables.$blanc;
                color:variables.$noir;
                /*margin-top: 20px;*/
            }

            .hotdog{
                &__toggle{
                    display: none;
                }
                &__retour{
                    display: none;
                }
            }
        }

        .main-navbar{
            background-color: variables.$blanc;
            color: variables.$noir;
            font-family: "Jockey One", sans-serif;
            font-size: 24px;
           
            
            
        }

    .nav-menu{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    }

    .divider.divider-header{
        display: none;
    }
    
}
  