@use 'variables';
@use "sass:color";

//scss pour la page qui represente tout les nouvelles
.nouvelles-container{
    .nouvelles-liste{
        display: flex;
        gap: 10px;
        flex-direction: column;
        .nouvelles-cards{
            
        }
    }
}

//scss pour la page qui represente une nouvelle
.nouvelle-article-box{
    background-color: variables.$primary;
    .nouvelle-article-titre {
        background: rgb(178,8,56);
        background: linear-gradient(180deg, rgba(178,8,56,1) 0%, rgba(112,5,35,1) 63%, rgba(92,4,29,1) 79%, rgba(55,2,17,1) 100%, rgba(28,1,9,1) 100%, rgba(0,0,0,1) 100%); 
        color: variables.$blanc;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        h1{
            color: variables.$blanc;
            margin-left: 50%;
            margin-right: 50%;

            text-align: center;

            font-size: 55px;
        }
    }

    .nouvelle-article-image{
        width: 500px;
        background-size: cover;
        margin-bottom: 0px;
    }

    .nouvelle-article-docu{
        background-color: rgb(255, 210, 194);
        color: black;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;

        font-family: "Jockey One", sans-serif;
        font-size: 30px;
        

        margin-top: 10px;
        padding-left: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .nouvelle-article-summary{
        background-color: variables.$primary;
        color: variables.$blanc;

        font-family: "Jockey One", sans-serif;
        font-size: 30px;
        text-transform: capitalize;
        p{
            color: variables.$blanc;
            padding-left: 20px;
        }
    }
    .nouvelle-article-desc{
        color: variables.$noir;
        font-family: "Jockey One", sans-serif;
        font-size: 10px;
        text-transform: capitalize;

        text-align: center;
        p{
            background-color: variables.$blanc;
            font-size: 20px;
        }
       
        .nouvelle-article-sources{
            color: red;
            background-color: rgb(255, 222, 175);
            p{
                color: red;
                text-align: center;
                background-color: rgb(255, 225, 185);
            }
        }
    }
}

.nouvelle-sharing-box{
    background-color: rgba(255, 127, 80, 0.805);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    h4{
        color: variables.$blanc;
        text-align: center;

        font-family: "Jockey One", sans-serif;
        font-size: 30px;
        text-transform: capitalize;
    }
    .printer-logo{
        width: 50px;
        height: 50px;

        border-top: 10px;
        border-color: variables.$blanc;
    }
}

.nouvelle-related-box{
    display:flex;
    flex-direction: column;
    gap: 10px;
    h2{
        color: variables.$primary;
        text-align: center;
        font-size: 30px;
    }
    div{
        background: rgb(250,118,89);
        background: linear-gradient(180deg, rgba(250,118,89,0.6895892145920868) 0%, rgba(255,255,255,0) 100%); 
        padding-left: 20px;
        p{
            color: variables.$noir;
        }
    }
}


.nouvelle-fleche-box{
    background-color: variables.$primary;
    color: variables.$blanc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fleche-precedante{
        color: variables.$blanc;
        p{
            color: variables.$blanc;
        }

        img{
            width:50px;
        }
    }

    .fleche-next{
        color: variables.$blanc;

        p{
            color: variables.$blanc;
        }

        img{
            width:50px;
        }
    }
}


@media screen and (min-width: 834px) and (max-width:1439px) {
    
}

@media screen and (min-width: 1440px) {

    .nouvelle-article-box{
        .nouvelle-article-titre {
            background-color: variables.$primary;
            color: variables.$blanc;
    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            h1{
                color: variables.$blanc;
                margin-left: 0;
                margin-right: 0;
    
                text-align: center;
            }
        }
    
        .nouvelle-article-image{
            width: 500px;
            background-size: cover;
        }
    
        .nouvelle-article-docu{
            background-color: rgb(255, 210, 194);
            color: black;
            text-shadow: rgb(255, 255, 255) 1px 0 10px;
    
            font-family: "Jockey One", sans-serif;
            font-size: 25px;
            text-transform: capitalize;

            text-align: start;
            text-wrap: wrap;

        }
        .nouvelle-article-summary{
            background-color: variables.$primary;
            color: variables.$blanc;
    
            font-family: "Jockey One", sans-serif;
            font-size: 25px;
            text-transform: capitalize;
        }
        .nouvelle-article-desc{
            color: variables.$noir;
            font-family: "Jockey One", sans-serif;
            font-size: 15px;
            text-transform: capitalize;
    
            text-align: left;
           
            .nouvelle-article-sources{
                color: red;
                background-color: rgb(255, 222, 175);
                p{
                    color: red;
                    text-align: left;
                }
            }
        }
    }

    .nouvelle-sharing-box{
        background-color: rgba(255, 127, 80, 0.805);
        display:flex;
        flex-direction: row;
        h4{
            font-family: "Jockey One", sans-serif;
            font-size: 30px;
            text-transform: capitalize;
            color: variables.$blanc;
            text-align: left;
        }

        .printer-logo{
            width: 100px;
            height: 100px;
    
            border-top: 0;
        }
    }

    .nouvelle-fleche-box{
        flex-direction: row;
        
    }
   
}