@use 'variables';
@use "sass:color";

.service-container{
    background-color: variables.$primary;
    
    padding-top: 3px;
    .service-titre{
        background-color: variables.$primary;
        color: variables.$blanc;

        padding-left: 10px;
        text-align: center;
        text-wrap: wrap;
    }
    .service-slogan{
        color: variables.$blanc;
        font-size: 30px;
        text-align: center;
        text-wrap: wrap;
        padding: 20px;
    }

    img{
        width: 100%;
        
    }
}

.service-nouvelle-relation{
    
    .service-nouvelle-card{
        &__card{
            width: 100%;
            background: rgb(250,118,89);
            background: linear-gradient(180deg, rgba(250,118,89,1) 30%, rgba(255,255,255,1) 100%); 
            margin: 10px 0;
            img{
                width: 100%;
                border-bottom: black solid 1px;
            }
    
            p{
                text-transform: uppercase;
                margin: 20px;
            }
            
        }
    }
}

@media screen and (min-width: 834px) and (max-width:1439px) {
    
}

@media screen and (min-width: 1440px){
    .service-nouvelle-relation{
    
        .service-nouvelle-card{
            &__card{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 25%;
                margin: 0;
                img{
                    width: 100%;
                }
    
                .container{
                    width: 100%;
                }
            }
        }
    }
}